<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
  <appSettings >
    <add key="ConnectionDB" value="Data Source=localhost;Database=CSPSS;User id=sa;PWD=0"/>
  </appSettings>
    <connectionStrings>
        <add name="C23.Properties.Settings.db_JXCConnectionString" connectionString="Data Source=SONIASUI;Initial Catalog=db_JXC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="C23.Properties.Settings.db_JXCConnectionString1" connectionString="Data Source=localhost;Initial Catalog=db_JXC;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>